@using BusinessLogicLayer.Viewmodels.ViewKH
@model ProDetailKH

<div class="col-md-9 col-sm-7">
    <div class="product-page">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="product-main-image">
                    <img src="@Model.UrlImg" alt="Cool green dress with red bell" class="img-responsive" data-BigImgsrc="~/assets/pages/img/products/model7.jpg">
                </div>              
            </div>
            <div class="col-md-6 col-sm-6">
                <h1>Cool green dress with red bell</h1>
                <div class="price-availability-block clearfix">
                    <div class="price">
                        <strong><span>$</span>@Model.Price</strong>
                        @* <em>$<span>62.00</span></em> *@
                    </div>
                    <div class="availability">
                        Availability: <strong>In Stock</strong>
                    </div>
                </div>
                <div class="description">
                    <p>
                       
                    </p>
                </div>
                <div class="product-page-options">
                    <div class="pull-left">
                        <label class="control-label">Size:</label>
                        <select class="form-control input-sm">
                            @foreach (var size in Model.Size)
                            {
                                <option>@size</option>
                            }
                        </select>
                    </div>
                    <div class="pull-left">
                        <label class="control-label">Color:</label>
                        <select class="form-control input-sm">
                            @foreach (var color in Model.Color)
                            {
                                <option>@color</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="product-page-cart">
                    <div class="product-quantity">
                        <input id="product-quantity" type="text" value="1" readonly class="form-control input-sm">
                    </div>
                    <button class="btn btn-primary" type="submit">Add to cart</button>
                </div>
                <ul class="social-icons">
                    <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
                    <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
                    <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
                    <li><a class="evernote" data-original-title="evernote" href="javascript:;"></a></li>
                    <li><a class="tumblr" data-original-title="tumblr" href="javascript:;"></a></li>
                </ul>
            </div> 
            <div class="sticker sticker-sale"></div>
        </div>
    </div>
</div>