@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<style>
    .custom-modal-auto {
        max-width: 70%; /* Thiết lập chiều rộng tối đa */
        margin: auto; /* Để canh giữa */
        overflow-y: auto; /* Cho phép thanh cuộn nếu nội dung quá dài */
    }

        .custom-modal-auto .modal-dialog {
            max-width: 80%;
        }

    .modal-body {
        padding: 50px;
    }

    .modal-header {
        background-color: #007bff; /* Màu nền */
        color: #fff; /* Màu chữ */
        border-bottom: none; /* Loại bỏ viền dưới */
    }

    .close {
        color: #fff;
        opacity: 1;
    }

    /* Thanh cuộn bên trong modal (nếu cần) */
    .modal-body {
        overflow-y: auto; /* Hiển thị thanh cuộn nếu nội dung quá dài */
    }

    /* Hình ảnh sản phẩm */
    .img-fluid {
        max-width: 80%; /* Hình ảnh sẽ không vượt quá phần tử chứa */
        height: auto; /* Đảm bảo tỷ lệ khung hình không bị biến dạng */
    }
    /* Phần bảng thông tin chi tiết sản phẩm */
    .product-details-table {
        margin-top: 20px; /* Khoảng cách giữa phần thông tin và bảng */
    }

        /* Định dạng phần tiêu đề của bảng */
        .product-details-table thead th {
            background-color: #007bff; /* Màu nền */
            color: #fff; /* Màu chữ */
            font-weight: bold; /* Đậm */
        }

        /* Định dạng các ô dữ liệu của bảng */
        .product-details-table tbody td {
            vertical-align: middle; /* Căn giữa dọc */
        }

        /* Định dạng các dòng trong bảng */
        .product-details-table tbody tr:nth-child(even) {
            background-color: #f2f2f2; /* Màu nền xen kẽ */
        }

    .btn-details {
        color: #007bff; /* Màu chữ */
        background-color: transparent; /* Màu nền trong suốt */
        border: none; /* Loại bỏ đường viền */
        cursor: pointer; /* Con trỏ chuột chỉ */
    }

        .btn-details:hover {
            text-decoration: underline;
        }

</style>

<style>
    #loading-spinner {
        text-align: center;
        margin-top: 20px; /* điều chỉnh khoảng cách nếu cần */
    }
</style>
<style>
    .app-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .app-breadcrumb {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .breadcrumb-item.active {
        font-weight: bold;
    }

    #clock {
        font-size: 18px;
        font-weight: bold;
    }

    .element-search {
        margin-bottom: 20px;
    }

        .element-search .form-control {
            width: 100%;
        }

    .form-group {
        margin-bottom: 15px;
    }

        .form-group label {
            font-weight: bold;
        }

        .form-group input[type="text"] {
            width: 100%;
        }

    #sampleTable_wrapper {
        margin-top: 20px;
    }
</style>
<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Danh sách sản phẩm</b></a></li>
    </ul>
    <div id="clock"></div>
</div>
<div class="row element-search">
    <div class="col-sm-4">
        <input type="text" id="searchKeyCode" class="form-control" placeholder="Nhập mã sản phẩm để tìm kiếm..." onkeyup="searchByKeyCode()">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-sm-2">

                        <a class="btn btn-add btn-sm" asp-area="Admin" asp-controller="ManagerProductDetails" asp-action="Create" title="Thêm">
                            <i class="fas fa-plus"></i>
                            Tạo mới sản phẩm
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm nhap-tu-file" type="button" title="Nhập" onclick="myFunction(this)">
                            <i class="fas fa-file-upload"></i> Tải từ file
                        </a>
                    </div>

                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()">
                            <i class="fas fa-print"></i> In dữ liệu
                        </a>
                    </div>

                    <div class="col-sm-2">
                        <a class="btn btn-excel btn-sm" href="" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm pdf-file" type="button" title="In" onclick="myFunction(this)">
                            <i class="fas fa-file-pdf"></i> Xuất PDF
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="deleteSelectedProducts()">
                            <i class="fas fa-trash-alt"></i> Xóa tất cả
                        </a>
                    </div>

                </div>
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th width="10"><input type="checkbox" id="all"></th>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Số lượng</th>
                            <th>Tình trạng</th>
                            <th>Giá tiền</th>
                            <th>Danh mục</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody id="table_productdetails">
                        <tr id="loading-spinner" style="display: none;">
                            <td colspan="9" style="text-align: center;">
                                <i class="fas fa-spinner fa-spin"></i> Loading...
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-auto" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Chi tiết sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img id="modalProductImage" src="" alt="Hình ảnh sản phẩm" class="img-fluid">
                    </div>
                    <div class="col-md-3">
                        <p><strong>Mã sản phẩm:</strong> <span id="modalKeyCode"></span></p>
                        <p><strong>Tên sản phẩm:</strong> <span id="modalProductName"></span></p>
                        <p><strong>Tên nhà sản xuất:</strong> <span id="modalManufacturers"></span></p>
                        <p><strong>Tên chất liệu:</strong> <span id="modalMaterial"></span></p>
                        <p><strong>Tên thương hiệu:</strong> <span id="modalBrand"></span></p>
                        <p><strong>Tên danh mục:</strong> <span id="modalCategory"></span></p>
                        <p><strong>Mô tả:</strong> <span id="modalDescription"></span></p>
                        <p><strong>Style:</strong> <span id="modalStyle"></span></p>
                        <p><strong>Nguồn gốc:</strong> <span id="modalOrigin"></span></p>
                        <p><strong>Tổng số lượng:</strong> <span id="modalTotalQuantity"></span></p>
                        <p><strong>Trạng thái:</strong> <span id="modalStatus"></span></p>
                    </div>
                    <div class="col-md-5">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Ảnh</th>
                                    <th>Size</th>
                                    <th>Màu</th>
                                    <th>Số lượng</th>
                                    <th>Giá bán</th>
                                </tr>
                            </thead>
                            <tbody id="productDetailsBody">
                                <!-- Các chi tiết sản phẩm sẽ được thêm vào đây -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/ajax/ProductDetails/productdetails_index.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="~/src/jquery.table2excel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script type="text/javascript" src="~/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $('#sampleTable').DataTable();
    //Thời Gian
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }
</script>